<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".data.PasselApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name="com.passel.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.passel.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.passel.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.passel.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.passel.NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:parentActivityName="com.passel.HomeActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.passel.HomeActivity" />
        </activity>
        <activity
            android:name="com.passel.MapEventActivity"
            android:label="@string/title_activity_map_event"
            android:parentActivityName="com.passel.HomeActivity" >
        </activity>

        <service
            android:name="com.passel.BackgroundGPSService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.passel.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.passel.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.passel.HomeActivity" />
        </activity>
        <activity
            android:name="com.passel.EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:parentActivityName="com.passel.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.passel.HomeActivity" />
        </activity>

        <service
            android:name="com.passel.PeerLocationDataStreamingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.passel.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:parentActivityName="com.passel.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.passel.ChangePasswordActivity" />
        </activity>
        <activity
            android:name="com.passel.LocationPickerActivity"
            android:label="Pick a Location">
        </activity>

        <activity
            android:name="com.passel.VenmoWebViewActivity"
            android:label="Venmo">
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="Venmo Test" >
        </activity>
    </application>

</manifest>
